:host {
  display: block;
  padding: 0 2rem 2rem;
  min-height: 55vh;
}

.form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.search {
  margin-top: 1rem;
  width: 100%;
}

table {
  width: 100%;
}

td,
th {
  width: 20%;
}

.btn--small {
  min-width: 55px;
  line-height: 25px;
}
