<h2>Persons</h2>

<!-- Add new user section -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Add New Person</mat-panel-title>
  </mat-expansion-panel-header>
  <form
    [formGroup]="formGroup"
    class="form"
  >
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="name"
        placeholder="Name"
      >
      <mat-error>
        <div *ngIf="name.errors && name.errors['required']">Name is required</div>
        <div *ngIf="name.errors && name.errors['minlength']">Name must have at least 3 characters</div>
      </mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="hasSuperPowers">Super power</mat-checkbox>
    <mat-checkbox formControlName="isRich">Rich</mat-checkbox>
    <mat-checkbox formControlName="isGenius">Genius</mat-checkbox>
    <button
      type="button"
      mat-stroked-button
      (click)="addNewUser()"
    >Add</button>
  </form>
</mat-expansion-panel>

<ng-container *ngIf="dataSource.data.length > 0">

  <!-- Search field (filter) -->
  <mat-form-field
    appearance="outline"
    class="search"
  >
    <mat-label>Search person</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
    >
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <!-- Projected content outlet -->
  <ng-content select="nav"></ng-content>

  <!-- Persons Table -->
  <div class="mat-elevation-z8">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
    >


      <!--  Name Column -->
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        > Name </th>
        <td
          mat-cell
          *matCellDef="let person"
        > {{person.name}} </td>
      </ng-container>

      <!-- Traits columns (based on the columnsToDisplay variable) -->
      <ng-container *ngFor="let trait of columnsToDisplay">
        <ng-container
          *ngIf="trait !== 'name' && trait !== 'delete'"
          [matColumnDef]="trait"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          > {{trait}} </th>
          <td
            mat-cell
            *matCellDef="let person"
          >
            <mat-checkbox
              (change)="onChange($event, person, trait)"
              [checked]="person[trait]"
            ></mat-checkbox>
          </td>
        </ng-container>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th
          mat-header-cell
          *matHeaderCellDef
        >Delete</th>
        <td
          mat-cell
          *matCellDef="let person"
          [attr.data-personindex]="dataSource.data.indexOf(person)"
        >
          <ng-container *ngIf="!person.confirm">
            <button
              mat-icon-button
              color="warn"
              type="button"
              data-action="confirmAction"
              @confirmDialog
            >
              <mat-icon aria-label="delete person">delete_forever</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="person.confirm">
            <div
              class="confirm-dialog-wrap"
              @confirmDialog
            >
              <p>Delete "{{person.name}}"?</p>
              <p>
                <button
                  mat-stroked-button
                  data-action="cancelDelete"
                  class="btn--small"
                >No</button>
                <button
                  mat-stroked-button
                  color="warn"
                  data-action="deleteUser"
                  class="btn--small"
                >Yes</button>
              </p>
            </div>
          </ng-container>
        </td>
      </ng-container>

      <!-- Table Rows Definition -->
      <tr
        mat-header-row
        *matHeaderRowDef="columnsToDisplay"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columnsToDisplay"
      ></tr>
    </table>

    <!-- Table Paginator -->
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageSize]="10"
      (elementInView)="onElementInView($event)"
    ></mat-paginator>

  </div>

</ng-container>
