.header-row {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.main {
  background-color: #fff;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 0 1rem;
}

.footer {
  padding: 2rem;
  background-color: #000;
  color: #fff;
}

.nav {
  margin-bottom: 0.5rem;
}
